.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
.tox
dist
build
private
restats
.vs
*.pyproj
*.sln
# Coverage reports
.coverage
.coverage.*

# editor 
.idea
.project
.pydevproject

# pyenv
.python-version

# venv
env*/

# libreoffice
.~lock.*

# backups
data/backups_csv
data/mongo_dump
doxygen
*.pck
